<h2>Регистрация (Владелец Магаза)</h2>

<%= render '/registration_type' %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div> 

    <div class="form-group">
      <%= f.label :magaz_avatar %>
      <p><%= image_tag(@user.magaz_avatar.thumb.url) if @user.magaz_avatar? %></p>
      <%= f.file_field :magaz_avatar %>
    </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> символов минимум)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Зарегистрироваться" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
