<h2>Регистрация (Админ)</h2>

<%= render '/registration_type' %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :surname %><br />
      <%= f.text_field :surname %>
    </div>

    <div class="form-group">
      <%= f.label :date_of_birth %>
      <p><%= f.date_select :date_of_birth, start_year: Date.today.year - 111, end_year: Date.today.year, class: 'form-control' %></p>
    </div>

    <div class="form-group">
      <%= f.label :avatar %>
      <p><%= image_tag(@admin.avatar.thumb.url) if @admin.avatar? %></p>
      <%= f.file_field :avatar %>
    </div>

    <div class="form-group">
      <%= f.label :photo_passport %>
      <p><%= image_tag(@admin.photo_passport.thumb.url) if @admin.photo_passport? %></p>
      <%= f.file_field :photo_passport %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> символов минимум)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Зарегистрироваться" %>
  </div>
<% end %>

<%= render "admins/shared/links" %>
