<!-- Паршиал отображения инфы об отдельном паке с продуктов -->
<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <div class="caption">
      <h3><%= link_to bundle.title, bundle_path(bundle) %></h3>
      <% bundle.products.each do |product| %>
          <p> <%= image_tag product.photo.thumb, class: "#{get_style_img(bundle.products.size)} buffer-bottom", title: product.title if product.photo? %> </p>
      <% end %>
      <p>&nbsp;</p>
      <div class="minus_margin"></div>
    </div>
  </div>
</div>
