<h1><%= @bundle.title %></h1>

<h2>Цена: <%= @bundle.price %> руб. </h2>

<% if current_guest.present? && product_valid?(@bundle) %>

    <div class="buffer-bottom">
      <%= link_to 'Купить', price_bundlee_bundle_path(@bundle), class: 'btn btn-primary' %>
    </div>

<% end %>


<% @bundle.products.each do |product| %>
    <div class="buffer-bottom col-md-6">
      <h3><%= link_to product.title, product_path(product) %></h3>
      <%= product.description %>
      <%= image_tag product.photo if product.photo? %>
    </div>
<% end %>

<div class="col-md-4">

  <% if current_user.present? || current_admin.present? %>
      <h4>Магазин: <%= @bundle.user.name %> </h4>
  <% end %>
</div>