<%= form_for(@product) do |f| %>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :photo %>
      <p><%= image_tag(@product.photo.thumb.url) if @product.photo? %></p>
      <%= f.file_field :photo %>
    </div>

    <div class="actions">
      <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
      <% if @product.persisted? %>
          <%= link_to 'Удалить продукт', product_path(@product), method: :delete, data: {confirm: 'Действительно ли вы хотите удалить продукт?'}, class: 'btn btn-primary' %>
      <% end %>
      или <%= link_to 'вернуться', :back %>
    </div>
<% end %>