<!-- Паршиал отображения инфы об отдельном продукте -->
<div class="col-sm-6 col-md-4">
  <div class="thumbnail">

    <div class="caption">
      <h3><%= link_to product.title, product_path(product) %></h3>
      <p> <%= image_tag product.photo.thumb if  product.photo? %> </p>

      <% if product.pro && (current_user.present? || current_admin.present? || current_guest.present?) %>
          <p>PRO</p>
      <% end %>

    </div>
  </div>
</div>
