<h1>Продукты</h1>

<% if user_signed_in? %>
    <div class="buffer-bottom">
      <%= link_to 'Создать продукт', new_product_path, class: 'btn btn-success' %>
    </div>
<% end %>

<div class="row buffer-bottom">
  <!-- Рендерим сразу массив событий, каждый в паршиале 'products/product' -->
  <%= render partial: 'products/product', collection: @products %>
  <%= render partial: 'bundles/bundle', collection: @bundles %>
</div>