<div class="row">
  <div class="col-md-6">
    <h1><%= @product.title %></h1>
    <% if @product.pro && (current_user.present? || current_admin.present? || current_guest.present?) %>
        <h1>PRO</h1>
    <% end %>

    <% if current_admin.present? %>
        <div class="buffer-bottom">
          <%= link_to 'Сменить статус', admin_product_path(@product), method: :put, class: 'btn btn-primary' %>
        </div>
    <% end %>

      <% if current_guest.present? && product_valid?(@product) && @product.pro == false %>

        <div class="buffer-bottom">
          <%= link_to 'Купить', price_product_product_path(@product), class: 'btn btn-primary' %>
        </div>

    <% end %>

    <p><%= @product.description %></p>
  </div>
</div>


<p> <%= image_tag @product.photo if @product.photo? %> </p>

<div class="col-md-4">

  <% if current_user.present? || current_admin.present? %>
      <h4>Магазин: <%= @product.user.name %> </h4>
  <% end %>

  <% if current_user_can_edit?(@product) %>
      <div class="buffer-top">
        <%= link_to 'Изменить', edit_product_path(@product), class: 'btn btn-primary' %>
      </div>
  <% end %>
</div>