<script type="text/javascript" src="lists_type.js" charset="utf-8"></script>

<select onchange="_go()" id="address">
  <option value="Выбор регистрации" >Выбор входа</option>
  <option value=<%= new_guest_session_path %> >Гость</option>
  <option value=<%= new_user_session_path %> >Владелец Магаза</option>
  <option value=<%= new_admin_session_path %> >Админ</option>
</select>