<script type="text/javascript" src="lists_type.js" charset="utf-8"></script>

<select onchange="_go()" id="address">
  <option value="Выбор регистрации" >Выбор регистрации</option>
  <option value=<%= new_guest_registration_path %> >Гость</option>
  <option value=<%= new_user_registration_path %> >Владелец Магаза</option>
  <option value=<%= new_admin_registration_path %> >Админ</option>
</select>